*{
    font-family: Arial, Helvetica, sans-serif;

}

.title{
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}



.request-container { 
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.master-request {
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.child-request {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 400px;
}

.file-display {
    overflow-x: auto;
    height: 100px;
    margin-bottom: 5px;

}



.graph-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.master-graph-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 700px;

  }
  

#master-graph-display {
    border: 1px solid black;
    width: 95%;
    height: 85%;
}



.unvisited-node-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */

    padding: 10px;
}

#unvisited-node-display {
    display: flex;

    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 90%;


}


.unvisited-node-display img {
    flex-shrink: 0; /* Prevent images from shrinking */
    width: auto; /* Allow images to maintain their aspect ratio */
    max-height: 100%; /* Ensure images fit within the container */
    margin: 0 10px;
}

.image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}
.image-button {
    margin-top: 5px;
}


.path-download {
    display: flex;
    justify-content: center;
    align-items: center;
}



.paths-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#paths-display {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    width: 90%;
    padding: 10px
}





img {
    margin-right: 10px; /* Add some space between images */
    width: 135px;
    height: 300px;
  }

.center {
    text-align: center;
}

#node-group-display {
    max-height: 600px;
    width: 900px;
    overflow-y: auto;
    overflow-x: auto;
    
}

#node-group-display img {
    margin-right: 10px; /* Add some space between images */
    width: 90px;
    height: 200px;
  }

.node-group-div {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    width: 90%;
    padding: 10px;
}

.node-processing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.group-text {
    font-size: 10px;
}

.display-node-match {
    max-height: 600px;
    width: 900px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.image-row {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.template-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}