*{
    font-family: Arial, Helvetica, sans-serif;

}

.title{
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}



.request-container { 
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.master-request {
    height: 150px;
    width: 400px;
}

.child-request {
    height: 150px;
    width: 400px;
}


.graph-display-container {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}



.master-graph-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;

  }
  
.coverage-graph-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;

}



#master-graph-display {
    border: 1px solid black;
    width: 650px;
    height: 400px;
}

#coverage-graph-display {
    border: 1px solid black;
    width: 650px;
    height: 400px;
}

.paths-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paths-display {
    width: 1000px;
    height: 200px;
}

